body{
    background-image:url(../src/img/ceu.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.botao{
    width:500px;
    height:300px;
    background-image:url(../src/img/passaro.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    color: rgb(9, 145, 20);
    font-weight: bold;
    font-size:40px;
    border: 0;
    text-align: left;
    border-radius: 20px;
    border:5px solid rgb(18, 161, 243);

}

.botao2{
    width:500px;
    height:300px;
    background-image:url(../src/img/mar.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    color: rgb(9, 145, 20);
    font-weight: bold;
    font-size:40px;
    border: 0;
    text-align: left;
    border-radius: 20px;
    border:5px solid rgb(18, 161, 243);

}

.container{
    display: flex;
    flex-direction: column;
   
    
}

h1,h2,p{
    text-align: center;
}

h1,h2{
    font-weight: bold;
    font-size: 30px;
    color: aliceblue;
    margin: 20px;
    background-color: darkgreen;
    padding: 20px;
}
p{
    font-size: 20px;
    color: white;
}

button{
    border:0;
    background-color: rgb(144, 214, 144);
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius:20px;
    margin: auto;

}
button:hover{
    
    background-color: rgb(255, 255, 255);
    color: rgb(231, 14, 14);
    margin: auto;
    

}