body{background-color:rgb(51, 153, 82)}

h1{
    text-align: center;
    color: white;
    font-size:30px;
}

p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-left: 200px;
}